azure-iot-central-alerts.json
[{"id":"21baa34b.be1b9c","type":"tab","label":"AzureIoTCentralAlerts","disabled":false,"info":""},{"id":"978f0bb1.5a0a08","type":"http in","z":"21baa34b.be1b9c","name":"","url":"/alert/tempsup20","method":"post","upload":false,"swaggerDoc":"","x":210,"y":140,"wires":[["9fae0453.984118","bffac56f.f7a2a8"]]},{"id":"9fae0453.984118","type":"debug","z":"21baa34b.be1b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":160,"wires":[]},{"id":"bffac56f.f7a2a8","type":"switch","z":"21baa34b.be1b9c","name":"Select Alert for RuuviTag","property":"payload.device.id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":300,"wires":[["5e617efd.0cfe"]]},{"id":"5e617efd.0cfe","type":"change","z":"21baa34b.be1b9c","name":"Prepare AlertMessage","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alert\":\"lselect\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":300,"wires":[["219b9780.df1df8"]]},{"id":"219b9780.df1df8","type":"http request","z":"21baa34b.be1b9c","name":"Send Alert to Group/Light","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":300,"wires":[[]]}]