wirepas-azure-iot-central.json
[{"id":"29b4fa3.7187e06","type":"tab","label":"WirepasAzureIoTCentral","disabled":false,"info":""},{"id":"4bedc9bd.f0f828","type":"mqtt in","z":"29b4fa3.7187e06","name":"LocalMosquitto","topic":"gw-event/received_data/1/sink0/51966/111/#","qos":"0","datatype":"auto","broker":"1c53c2f2.34d5bd","x":100,"y":80,"wires":[["82d75880.b2af68"]]},{"id":"82d75880.b2af68","type":"decode","z":"29b4fa3.7187e06","name":"GenericMessage to JSON","protofile":"89203330.4842","protoType":"GenericMessage","x":370,"y":80,"wires":[["2273536f.05822c"]]},{"id":"56f7cf40.437da","type":"debug","z":"29b4fa3.7187e06","name":"debug temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":60,"wires":[]},{"id":"5badd31f.beaf6c","type":"switch","z":"29b4fa3.7187e06","name":"Temperature (112)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"112","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":180,"wires":[["b2de62a2.70138","56f7cf40.437da"]]},{"id":"10cfd23c.1ac16e","type":"switch","z":"29b4fa3.7187e06","name":"Humidity (114)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"114","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":260,"wires":[["5ca22d84.1c4aa4","edbe7607.96dde8"]]},{"id":"cb1c98.51a4e368","type":"switch","z":"29b4fa3.7187e06","name":"Atmospheric Pressure (116)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"116","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":340,"wires":[["bf6d4620.65d258","1029489f.82be17"]]},{"id":"186c3e11.b98532","type":"switch","z":"29b4fa3.7187e06","name":"Shock detection extended (127)","property":"payload.wirepas.packetReceivedEvent.destinationEndpoint","propertyType":"msg","rules":[{"t":"eq","v":"127","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":420,"wires":[["8d0cdd2b.cadb1","4ab9c16f.1248b"]]},{"id":"8d0cdd2b.cadb1","type":"binary","z":"29b4fa3.7187e06","name":"Extract shock detection data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"l8 => shockState, l16 => moveDuration, l8 => moveCount, -l8 => x, -l8 => y, -l8 => z","x":800,"y":420,"wires":[["4ab9c16f.1248b","1f64aa2b.311916"]]},{"id":"2273536f.05822c","type":"base64","z":"29b4fa3.7187e06","name":"","action":"","property":"payload.wirepas.packetReceivedEvent.payload","x":600,"y":80,"wires":[["c2fa5d0a.95b62"]]},{"id":"bf6d4620.65d258","type":"binary","z":"29b4fa3.7187e06","name":"Extract atmospheric presssure data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"l32 => pressure","x":820,"y":340,"wires":[["1029489f.82be17","58b28c89.138e24"]]},{"id":"5ca22d84.1c4aa4","type":"binary","z":"29b4fa3.7187e06","name":"Extract humidity data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"l16 => humidity","x":780,"y":260,"wires":[["edbe7607.96dde8","52fe1d75.5bf9e4"]]},{"id":"b2de62a2.70138","type":"binary","z":"29b4fa3.7187e06","name":"Extract temperature data","property":"payload.wirepas.packetReceivedEvent.payload","pattern":"-l16 => temperature","x":790,"y":180,"wires":[["56f7cf40.437da","4e7abff5.77d9e"]]},{"id":"edbe7607.96dde8","type":"debug","z":"29b4fa3.7187e06","name":"debug humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1277,"y":200,"wires":[]},{"id":"1029489f.82be17","type":"debug","z":"29b4fa3.7187e06","name":"debug atmo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1267,"y":280,"wires":[]},{"id":"4ab9c16f.1248b","type":"debug","z":"29b4fa3.7187e06","name":"debug shock detection","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1247,"y":520,"wires":[]},{"id":"4e7abff5.77d9e","type":"change","z":"29b4fa3.7187e06","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"temperature\": payload.wirepas.packetReceivedEvent.payload / 100\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":180,"wires":[["56f7cf40.437da","4cb54323.0b00ac","7718e008.a1fe8"]]},{"id":"52fe1d75.5bf9e4","type":"change","z":"29b4fa3.7187e06","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"humidity\": payload.wirepas.packetReceivedEvent.payload / 100\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":260,"wires":[["edbe7607.96dde8","4cb54323.0b00ac"]]},{"id":"58b28c89.138e24","type":"change","z":"29b4fa3.7187e06","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"pressure\": payload.wirepas.packetReceivedEvent.payload / 100\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":340,"wires":[["1029489f.82be17","4cb54323.0b00ac"]]},{"id":"1f64aa2b.311916","type":"change","z":"29b4fa3.7187e06","name":"Prepare data object","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\t    \"shockState\": payload.wirepas.packetReceivedEvent.payload.shockState,\t    \"moveDuration\": payload.wirepas.packetReceivedEvent.payload.moveDuration,\t    \"moveCount\": payload.wirepas.packetReceivedEvent.payload.moveCount,\t    \"accelerationState\": {\t        \"x\": payload.wirepas.packetReceivedEvent.payload.x,\t        \"y\": payload.wirepas.packetReceivedEvent.payload.y,\t        \"z\": payload.wirepas.packetReceivedEvent.payload.z\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":420,"wires":[["4ab9c16f.1248b","4cb54323.0b00ac"]]},{"id":"c2fa5d0a.95b62","type":"switch","z":"29b4fa3.7187e06","name":"Select messages from RuuviTag","property":"msg.payload.wirepas.packetReceivedEvent.sourceAddress","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":160,"wires":[["186c3e11.b98532","cb1c98.51a4e368","10cfd23c.1ac16e","5badd31f.beaf6c"]]},{"id":"4cb54323.0b00ac","type":"change","z":"29b4fa3.7187e06","name":"Prepare Azure IoT Central message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"deviceId\": \"\",\t    \"key\": \"\",\t    \"protocol\": \"mqtt\",\t    \"data\": msg.payload.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":640,"wires":[["ff7f34e2.615cb8","2ec7b93a.ec6686"]]},{"id":"ff7f34e2.615cb8","type":"azureiothub","z":"29b4fa3.7187e06","name":"Azure IoT Central","protocol":"mqtt","x":1010,"y":640,"wires":[["2ec7b93a.ec6686"]]},{"id":"2ec7b93a.ec6686","type":"debug","z":"29b4fa3.7187e06","name":"debug azure iot central","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":720,"wires":[]},{"id":"5dd3eb19.784834","type":"http request","z":"29b4fa3.7187e06","name":"Change color light","method":"PUT","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":580,"wires":[[]]},{"id":"7718e008.a1fe8","type":"change","z":"29b4fa3.7187e06","name":"Prepare message to light","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    $minHue := 35000;\t    $maxHue := 65000;\t    $minTemp := -10;\t    $maxTemp := 40;\t    $temperature := payload.data.temperature < $minTemp\t        ? $minTemp\t        : payload.data.temperature > $maxTemp\t            ? $maxTemp\t            : payload.data.temperature\t    ;\t    \t    $hueFactor := $floor(($maxHue - $minHue) / ($maxTemp - $minTemp));\t    $hue := $minHue + $floor(($temperature - $minTemp) * $hueFactor);\t    \t    {\t        \"on\": true,\t        \"sat\": 254,\t        \"bri\": 254,\t        \"hue\": $hue\t    }\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":520,"wires":[["5dd3eb19.784834","deb49de9.20526"]]},{"id":"deb49de9.20526","type":"debug","z":"29b4fa3.7187e06","name":"Message for light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":520,"wires":[]},{"id":"1c53c2f2.34d5bd","type":"mqtt-broker","z":"","name":"WM MQTT API","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"89203330.4842","type":"protobuf-file","z":"","protopath":"/home/pi/protofiles/generic_message.proto","watchFile":false}]